
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

@using(Html.BeginForm("Index","HotelMyCity",FormMethod.Post))
{
    <label>Şehir ID Bilgisi Giriniz</label>
    <input type="text" class="form-control" name="cityID"/>
    <br />
    <button class="btn btn-dark">Hotel Ara</button>
}

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Hotel Adı</th>
            <th>Hotel Puanı</th>
            <th>Hotel Detayları</th>
        </tr>
        @foreach(var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="@item.photoMainUrl" alt="">
                    <div class="ri-text">
                        <h4>@item.name</h4>
                        <h3>@item.reviewScore<span>/@item.reviewScoreWord</span></h3>

                        <a href="#" class="primary-btn">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    </table>
</div>
