@model List<MovieViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Film</th>
        <th>Link</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td><a href="@item.imdb_link" class="btn btn-outline-info">Sitede Gör</a></td>
        </tr>
    }
</table>
