@model List<HotelLocationSearchViewModel>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container">
    <br /><br />
    @using (Html.BeginForm("Index", "SeachLocationId", FormMethod.Post))
    {
        <label>Şehir Adını Giriniz</label>
        <input type="text" class="form-control" name="cityName"/>
    <br />
    <button class="btn btn-primary">Şehir İçin Id Bul</button>
    
    }
    <table class="table table-bordered">
        <tr>
            <th>Lokasyonu</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.dest_id</td>
            </tr>
        }
    </table>
    <br />
    <a href="/HotelMyCity/Index/" class="btn-dark">Konuma Göre Hotel Ara</a>
</div>
